{% extends 'base.html' %}

{% block content %}
  {% if not current_user.is_authenticated %}
    <div class="hello">
      <p>You need an account to save your todo list.<br>
        <a href="{{ url_for('auth.login') }}" class="link">Login</a>
        or
        <a href="{{ url_for('auth.register') }}" class="link">Register</a>
      </p>
    </div>

  {% else %}
    <form method="post" id="todo-form" class="mb-3">
      <input type="text" name="todo" id="todo"
        {% if 'edit' in request.url %}
          class="attention" autofocus
          value="{{ todo.text }}"
          onfocus="moveCursorToEnd(this)"
        {% else %}
          placeholder="New to-do item"
        {% endif %}>
      {% if 'edit' in request.url %}
        <button type="submit" class="btn btn-accent"><i class="fas fa-check"></i></button>
      {% else %}
        <button type="submit" class="btn">+</button>
      {% endif %}
    </form>

    {% if 'edit' not in request.url %}
      {% if not todo_list %}
        <p class="text-center">Time to add a new todo \(•◡•)/</p>
      {% else %}
        <ul id="todo-list">
          {% for todo in todo_list %}
          <li class="item" data-id="{{ todo.id }}">
            <form method="post" id="check">
              <div class="checkbox-wrap">
                <input type="hidden" name="is_done" value="{{ todo.id }}">
                <input 
                  type="checkbox" name="is_done" id="is-done-{{ todo.id }}" class="main-checkbox"
                  value="{{ todo.id }}"
                  {% if todo.is_done %}checked{% endif %}
                  onchange="this.form.submit();"
                  onfocus="this.value = this.value;"
                >
                <label for="is-done-{{ todo.id }}"></label>
              </div>
            </form>
            <p class="{% if todo.is_done %}done text-muted{% endif %}">{{ todo.text }}</p>
            <div class="manage">
              <a href="{{ url_for('main.edit_todo', pk=todo.id) }}" class="text-muted edit" title="Edit the item">
                <small><i class="fas fa-pencil-alt"></i></small>
              </a>
              <button type="button" class="link-btn text-muted copy" onclick="copyToClipboard(this)" title="Copy text">
                <small><i class="far fa-copy"></i></small>
              </button>
              <form action="{{ url_for('main.delete_todo', pk=todo.id) }}" method="post">
                <button type="submit" class="link-btn text-muted delete" title="Delete the item">
                  <small><i class="far fa-times-circle"></i></small>
                </button>
              </form>
            </div>
          </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

  {% endif %}
{% endblock content %}
