{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-2">Register</h2>
  <form method="post" action="/register">
    <div class="form-group">
      <input type="text" name="username" placeholder="Username" autofocus>
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="password" name="password2" placeholder="Confirm Password">
    </div>
    <div class="btn-wrap">
      <button type="submit" class="btn">Register</button>
      <small class="text-muted">Have an account? <a href="{{ url_for('auth.login') }}" class="link">Login</a></small>
    </div>
  </form>
{% endblock %}