[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
sanic-motor = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
sanic-openapi = "*"

[dev-packages]

[requires]
python_version = "3.9"
