{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Google Books Explorer</title>
<body>
</head>
  <div id="app">
    <main role="main" class="container">
      <h1>Book Explorer</h1>
      <form v-on:submit="fetchBooks" id="search-form">
        <input type="search" v-model="q" placeholder="What to find..." autofocus>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <ul class="list">
        <li class="list-item" v-for="(book, idx) in books" :key="idx">
          <div v-if="loading" class="spinner"></div>
          <div v-else>
            <a :href="[[ book.link ]]" target="_blank">[[ book.title ]]</a>
            <span v-if="book.authors.length"> ([[ book.authors ]])</span>
          </div>
        </li>
      </ul>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="text-muted">Google Books Explorer 📚</div>
      </div>
    </footer>
  </div>
  <script src="{% static 'vue.global.prod.js' %}"></script>
  <script src="{% static 'app.js' %}"></script>
</body>
</html>
